{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "airbnb",
    "prettier"
  ],
  "env": {
    "node": true,
    "jest": true,
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        trailingComma: 'es5',
        singleQuote: true,
      }
    ],
    "no-param-reassign": "off"
  },
  "plugins": [
    "babel",
    "prettier"
  ]
}
